---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog | Test Page" description="Blog page I'm making with the tutorial">
    <main class="wrapper stack gap-8">
        <h1>Hi this is my Astro learning blog</h1>
        <p>I'm making it with the tutorial in the docs.</p>
        <ul>
            <li>
                <a href="/blog/2026-02-03/">Post 1</a>
            </li>
        </ul>
    </main>
</BaseLayout>
